.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiAlert-root.MuiAlert-colorInfo.MuiAlert-standardInfo.MuiAlert-standard.css-hu7tqv-MuiPaper-root-MuiAlert-root{
    z-index: 99999 !important;
    position: relative;
    bottom: 0px;
    left: 640px;
    width: 50% !important;
    background-color: #a4dcf2;
    
}